@model MVCUIDesigning.Models.Customer

    <table align="center" border="1" width="30%">
        <tr>
            <td rowspan="6"> <img src="@Model.Photo" height="100%" width="100%" />  </td>
            <td>@Model.CustId</td>
        </tr>
        <tr>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td>@Model.Account</td>
        </tr>
        <tr>
            <td>@Model.Balance</td>
        </tr>
        <tr>
            <td>@Model.City</td>
        </tr>
        <tr>
            <td>@Model.Status</td>
        </tr>
    </table>
